apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app-deployment
  namespace: java-application
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
      - name: java-app-container
        image: $DEPLOY_IMAGE
        ports:
        - containerPort: 8000